# Archivos compilados y de distribución
dist/
build/
.next/
out/
*.AppImage
*.asar
*.snap
*.deb
*.rpm
*.pack
*.old

# Dependencias
node_modules/
.npm/
.yarn/

# Caché
.cache/
*.tsbuildinfo
.next/cache/

# Variables de entorno
.env
.env.local
.env.production
.env.development

# Archivos del sistema
.DS_Store
Thumbs.db
*.log
*.bak

# IDE
.vscode/
.idea/
*.swp
*.swo
